footer.footer {
    padding: 1em;
    text-align: center;
    font-family: sans-serif;
}

.footer-line {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-bottom: 0.8em;
}

.footer-link {
    text-decoration: none;
    color: black;
    font-size: 1em;
    max-width: 5rem;
    font-size: 1.4rem;
    text-align: center;
}

.footer-link:hover {
    background-color: black;
    color: white;
    max-width: 6rem;
    transform: 0.2s;
 
}
