footer.footer {
    padding: 1em;
    text-align: center;
    font-family: sans-serif;
    background-image: url(https://i.pinimg.com/1200x/93/d6/21/93d62190d30b1e790b439e8df1148c37.jpg);

}

.footer-line {
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0.8em;
}

.footer-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1em;
    max-width: 5rem;
    font-size: 1.4rem;
    text-align: center;
}

.footer-link:hover {
    background-color: black;
    color: white;
    max-width: 6rem;
    transform: 0.2s;
 
}
